{
  "presets": [["env", {
    "targets": {
      "node": "current"
    }
  }], "stage-1"],
  "plugins": [
    "transform-function-bind",
    "transform-decorators-legacy",
    ["babel-plugin-root-import", {
      "rootPathPrefix": "~",
      "rootPathSuffix": "src"
    }],
    "syntax-flow",
    "transform-flow-strip-types"
  ]
}
